---
import Layout from '../layouts/layout.astro'
import Header from '../layouts/header.astro'
import Footer from '../layouts/footer.astro'
---

<Layout title="Test test">
  <Header />
  <div class="wrap">
    <h1>about page</h1>
  </div>
  <Footer />
</Layout>
<script>
  console.log('about page init')
</script>
