---
import { Image } from "astro:assets";

import TestImg from "../assets/test.jpg"; // import image
// import '../js/test.js' // import JavaScript file
import Layout from "../layouts/Layout.astro";
// vue test component
import Test from "../components/test.vue";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
  index page
  <br />
  <a class="text-blue-300" href="/about"> about page </a>
  <hr class="my-2" />
  <div class="bg-blue-500 p-4 font-bold text-white hover:bg-blue-600">
    Hello
  </div>
  <!-- <Image src={TestImg} alt="" srcset="" /> -->
  <Image src={TestImg} alt="" srcset="" width="300" height="300" />

  <Test client:load />
</Layout>

<script>
  import "../js/test.js";
</script>
